<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="renderer" content="webkit|ie-comp|ie-stand" />

  <!-- <link rel="dns-prefetch" href="//xlsdg.github.io" /> -->

  <meta name="format-detection" content="telephone=no,email=no" />

  <!-- <link type="image/x-icon" rel="icon" href="/favicon.ico" />
  <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico" />
  <link type="image/x-icon" rel="bookmark" href="/favicon.ico" /> -->

  <title>Dva Antd Mobile Starter</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />

  <!-- 高清方案脚本 -->
  <script src="//os.alipayobjects.com/rmsportal/lvEQQbNgHsIxVfXLkmuX.js"></script>
</head>
<body>
  <div id="root"></div>
  <!-- FastClick -->
  <script src="//as.alipayobjects.com/g/component/fastclick/1.0.6/fastclick.js"></script>
  <script>
    if ('addEventListener' in document) {
      window.addEventListener('load', function() {
        FastClick.attach(document.body);
      }, false);
    }
  </script>
</body>
</html>
